<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/head"></head>
<body>
<div class="container login">
    <form th:action="@{/auth/handle-login}" method="post" th:object="${form_login}">
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" th:field="*{username}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" th:field="*{password}" required aria-describedby="passHelp">
            <div class="form-text text-danger" th:if="${error_login}!=null" th:text="${error_login}"></div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<th:block th:insert="layout/foot"></th:block>
</body>
</html>