<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/head"></head>
<body>
<div class="container login">
    <form th:action="@{/auth/handle-register}" method="post" th:object="${form_register}">
        <div class="mb-3">
            <label class="form-label">Full name</label>
            <input type="text" class="form-control" th:field="*{fullName}" required>
            <p style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>

        </div>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" th:field="*{email}" required>
            <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div><div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" class="form-control" th:field="*{phone}" required>
        <p style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>

        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" th:field="*{password}">
<!--            <div class="form-text text-danger" th:if="${error_login}!=null" th:text="${error_login}"></div>-->
        </div><div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" th:field="*{rePassword}" >
        <p style="color:red" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"></p>

<!--            <div class="form-text text-danger" th:if="${error_login}!=null" th:text="${error_login}"></div>-->
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<th:block th:insert="layout/foot"></th:block>
</body>
</html>